@import "./colors";
@import "./utilities";
@import "./utilities-2";
@import "./shared";

#header {
  position: fixed;
  left: 0;
  width: 100vw;
  top: 0;
  padding: 0;
  z-index: 5;

  &.scrolled {
    background-color: #fff;

    * {
      color: #202020;
    }
  }

  .page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    display: flex;
    gap: 50px;

    a {
      position: relative;
      padding: 0.5rem 0;

      @extend %transitioned;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color1;

        @extend %transitioned;
      }

      &:hover,
      &.active {
        color: $color1;

        &::after {
          width: 100%;
        }
      }
    }
  }

  .options {
    display: flex;
    align-items: center;
    gap: 20px;

    .btn-white {
      width: 216px;
    }
  }
}

#invest-hero {
  .hero-wrap {
    border-radius: 10px;
    border: 1px solid $color3;
    padding: 48px 100px;
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    gap: 30px;
    box-shadow: 0px 14px 40px 0px #6414935e;

    h1,
    h2,
    h3 {
      font-family: "blantic", inter, sans-serif;
      letter-spacing: 2px;
    }

    .main-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .social {
        display: flex;
        align-items: center;
        gap: 20px;

        a {
          width: 46px;
          height: 46px;
          border-radius: 10px;
          border: 1px solid transparent;
          display: flex;
          justify-content: center;
          align-items: center;

          &.blue {
            box-shadow: 0px 14px 40px 0px #2946624f;
            border-color: #1b1644;
            background: linear-gradient(
              180deg,
              rgba(62, 76, 199, 0.2) 0%,
              rgba(14, 1, 25, 0.2) 100%
            );
          }

          &.pink {
            background: linear-gradient(
              180deg,
              rgba(253, 0, 255, 0.2) 0%,
              rgba(228, 9, 249, 0.2) 0.01%,
              rgba(239, 108, 239, 0.2) 100%
            );
            border-color: #3d2559;
            box-shadow: 0px 14px 40px 0px #2946624f;
          }

          &.red {
            border-color: #be0a3933;
            box-shadow: 0px 14px 40px 0px #2946624f;
            background: linear-gradient(
              180deg,
              rgba(211, 8, 60, 0.2) 0%,
              rgba(14, 1, 25, 0.2) 100%
            );
          }
        }
      }
    }

    .main-right {
      flex-shrink: 0;
      border-radius: 10px;
      width: 588px;
      height: 430px;
      background-image: url(../assets/imgs/bg-invest.png);
      background-position: center;

      .bg {
        background: linear-gradient(
          0.82deg,
          #0a1521 0.82%,
          rgba(10, 21, 33, 0.7) 76.69%,
          rgba(9, 20, 32, 0.53) 99.4%
        );
        width: 100%;
        height: 100%;

        .main-content {
          max-width: 440px;
          margin-left: auto;
          margin-right: auto;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

#completed {
  .completed-item-wrap {
    .completed-item-main {
      border: 1px solid $color3;
      box-shadow: 0px 14px 40px 0px #6414935e;
      border-radius: 10px;
      padding: 40px;

      .item-head {
        display: flex;
        align-items: center;

        .head-img {
          width: 84px;
          height: 84px;
          position: relative;

          img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -45%);
          }
        }

        .head-text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 20px;

          .text-left {
            h3 {
              display: inline-block;
            }
          }
        }
      }

      .item-body {
        display: flex;
        justify-content: space-between;
        padding: 26px 36px;
        border-radius: 10px;
      }

      .item-foot {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item-foot-left {
          flex-grow: 1;
          max-width: 440px;
        }

        .item-foot-right {
          .coin-img {
            width: 22px;
            height: 20px;
            position: relative;
            margin-right: 10px;

            img {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -40%);
            }
          }
        }
      }
    }

    &.pink {
      .completed-item-main {
        .item-head {
          .head-img {
            img {
            }
          }

          .head-text {
            .text-left {
              h3 {
                @extend %text-gradient-pink;
                @extend %text-glowy-pink;
              }
            }

            .text-right {
              @extend %text-gradient-pink;
              @extend %text-glowy-pink;
            }
          }
        }

        .item-body {
          background: rgba(239, 105, 239, 0.09);
          border: 1px solid #421c7c;

          .title {
            background: linear-gradient(
              176.32deg,
              #f624ed -22.92%,
              #ffffff 122.9%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
        }
      }
    }

    &.blue {
      .completed-item-main {
        .item-head {
          .head-text {
            .text-left {
              h3 {
                @extend %text-gradient-blue;
              }
            }

            .text-right {
              @extend %text-gradient-blue;
              @extend %text-glowy-blue;
            }
          }
        }

        .item-body {
          background: linear-gradient(
            180deg,
            rgba(62, 76, 199, 0.2) 0%,
            rgba(14, 1, 25, 0.2) 100%
          );
          box-shadow: 0px 14px 40px 0px #2946624f;
          border: 1px solid #294662;

          .title {
            background: linear-gradient(115.48deg, #496a8a 0.3%, #0868c5 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
        }
      }
    }
  }
}
